:root {

    --primaryColor: #18234D;
    --secondaryColor: #3F5199;
    --thirdColor: #203899;
    --ComplementaryColor: #997611;
    --ComplementaryColorDark: #4D3F18;

    --gray75: #222c54;
    --gray50: #2b3049;
    --gray25: #404355;

    --bgColor: #eeeff0
}
html {
  scroll-behavior: smooth;
}
body {
 
  background-color: var(--bgColor);
  
}
h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Signika', sans-serif;
  line-height: 1.3;
  font-weight: 500;
  color: var(--gray75);
  margin: 0;
  padding: 0;
}



h1 {
  margin-top: 0;
  font-size: 5.052rem;
  font-weight: 500;
  color: var(--gray50);
}

h2 {
    font-size: 5.441rem;
    
    
    }

h3 {
    font-size: 1.953rem;
    font-weight: 300;
    color: var(--gray75);
    }

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

p, a, button, input {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

/*U  T  I  L  S */

.main {
  width: 90%;
  margin: 0 auto;
}

.alert {
  text-align: center;
  color: var(--thirdColor);
  background-color: rgb(247, 241, 241);
}

.border_bottom {
  border-bottom: 3px var(--ComplementaryColor) solid;
}

.header {
 text-align: center;
 padding: 2rem 1rem;
 width: 100%;
 min-height: 730;
 position: relative;

 margin-top: 2rem;
 background-color: white;


}


@media (min-width: 769px) {
  .header {
    height: 100vh;
  }
}
.header div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.container__header-links {
  position: relative;

  z-index: 15;


}

.title-word:nth-child(1) {
  color: var(--ComplementaryColor);
  font-weight: 800;
  --color-1: #df753c;
  --color-2: #3D8DAE;
  --color-3: #ec7371;

}
.title-word:nth-child(2) {
  color: var(--ComplementaryColorDark);
  font-weight: 800;

  --color-1: #b99343;
  --color-2: #2f9488;
  --color-3: #1a5458;
}
.title-word:nth-child(3) {
  color: var(--thirdColor);
  font-weight: 800;

  --color-1: #936324;
  --color-2: #be6664;
  --color-3: #34a79f;
}

.title-word {
  transition: border-bottom 1s linear 1s;
  animation: color-animation 4s linear infinite;
  text-transform: uppercase;
  padding-left: 1rem;



  
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 5rem;
  margin: 0 auto;


 }


 .footer {
    width: 100%;
    text-align: center;
    
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    border-radius: 2px;
    color: var(--gray25);
 }

 .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px outset var(--border-color);
    --border-color: #e7eef6;
    padding: 0px 45px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 15;
 }

 
 .nav .nav__list {
  list-style: none;
 }

.nav__list a {
    text-decoration: none;
    color: var(--gray25);
    padding: 6px;
    font-size: 1.2rem;
    margin: 5px;
  }

.nav button {
  padding: 6px;
  border: none;
  font-weight: 550;
  cursor: pointer;
  color: var(--gray25);
  background-color: transparent;
}

.nav button, a {
  border: 1px solid var(--gray25);
  border-radius: 45px;

  transition: 1s all ease-in-out;
}
.nav button:hover, a:hover {

  color: var(--ComplementaryColor);
  background-color: var(--primaryColor);


}
  
.custom-shape-divider-bottom-1682511048 {
  position: absolute;
  bottom: -17rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1682511048 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 227px;
}

.custom-shape-divider-bottom-1682511048 .shape-fill {
  fill: var(--bgColor);
}
