.projects {
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 130px;
    


}

.projects h2 {
    text-align: center;
    margin: 0 auto;
   
}


.projects__container {
        display: grid;
}

@media (min-width: 769px) {
    .projects__container {
        
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    
        
    }
    
}


.custom-shape-divider-top-1682513188 {
    position: absolute;
    top: -5rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: blue;
}

.custom-shape-divider-top-1682513188 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 223px;
}

.custom-shape-divider-top-1682513188 .shape-fill {
    fill: #FFFFFF;
}
