.project__container {
    padding: 1.6rem;

}

.project__container h4 {
    text-align: center;
    text-transform: capitalize;
    margin: 1rem 0px 1rem 0px;
}
.project__container p:first-of-type {
    height: 50%;
    
    overflow:hidden;
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;

    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}



.project__container img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 45px;
    display: block;
    margin: 0 auto;
    width: 15rem;
    padding: 6px;
    cursor: pointer;
    transition: all 1s ease-out;
    background-color: #404355;
    width: 100%;
}

.img__container, .img__container-dinamic {
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}



.project__container-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 769px) {
    .project__container-links {
        justify-content: center;
        gap: 1rem;
    }
    
}
.project__container a {
    text-decoration: none;
    --gray50: #2b3049;
    color: var(--gray50);
    transition: all 1s ease-in-out;

    --ComplementaryColor: #997611;
    --gray25: #404355;
    

        padding: 6px 12px;
        border-radius: 45px;
        border: 1px solid var(--gray25)
            
        }

.project__container-links a:first-of-type {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .45rem;
}
.project__container-links a:nth-child(2):hover {

    background-color: var(--gray50);

}

.img__container a:first-of-type {
    --bgColor: var(--gray50);

    position: absolute;
    bottom: -5%;
    right: -5%;
    background-color: var(--ComplementaryColor);
    color: #eeeff0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border: none;
}

.project__container a:hover {
    --ComplementaryColor: #997611;

    color: var(--ComplementaryColor);
    background-color: var(--gray50);
}
