.projects {
    --bgColor: #eeeff0;

    width: 100%;
    position: relative;
    background-color: var(--bgColor);
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 130px;

}

.projects h2 {
    text-align: center;
    margin: 0 auto;
   
}


.projects__container {
        display: grid;
}

@media (min-width: 769px) {
    .projects__container {
        
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    
        
    }
    
}


